.advText {
  padding-bottom: 2rem;
  width: 60%;
  padding-left: 2rem;
  color: aliceblue;
}

.advTitle {
  padding-top: 1rem;
  padding-bottom: 15px;
  text-align: center;
  width: 60%;
  color: lightgray;
}
