.dataText {
  padding-bottom: 2rem;
  width: 60%;
  padding-left: 2rem;
  color: aliceblue;
}

.dataTitle {
  padding-top: 1rem;
  padding-bottom: 15px;
  text-align: center;
  width: 60%;
  color: lightgray;
}

@media screen and (max-width: 1400px) {
  .dataText {
    margin: 0 0.5em;
    display: flex;
    width: 50rem;
    word-break: break-all;
  }
}
