.eventImg {
  border-radius: 10px;
  width: 119.1rem;
}

.eventHr {
  width: 90%;
}

.eventText {
  padding-bottom: 2rem;
  width: 60%;
  padding-left: 2rem;
  color: aliceblue;
}

.eventTitle {
  padding-top: 1rem;
  padding-bottom: 15px;
  text-align: center;
  width: 60%;
  color: lightgray;
}
