.about {
  width: 90%;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.aboutName {
  text-align: center;
  color: lightgray;
  padding-bottom: 1rem;
}

.aboutText {
  color: aliceblue;
  height: auto;
  text-align: center;
  padding-bottom: 10px;
}
