.saradnici {
  padding-top: 2rem;
  background-color: #333;
  color: lightgray;
}

.saradnici p {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 25px;
  padding-left: 100px;
}

.images {
  padding-bottom: 1rem;
  width: 40%;
}

.client_article {
  width: 26rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto 1rem;
  border: 0.4rem solid transparent;
}

.homeImg {
  width: 400px;
  height: auto;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: lightgray;
}

.swiper {
  width: 32rem;
  padding-top: 2rem;
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) =================== */
@media screen and (max-width: 1400px) {
  .images {
    gap: 0.5rem;
    padding-left: 2.5rem;
  }

  .homeImg {
    width: 350px;
  }
}

@media screen and (max-width: 960px) {
  .images {
    width: 50%;
  }

  .swiper {
    width: 32rem;
  }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) =================== */
@media screen and (max-width: 600px) {
  .title {
    padding: 4rem;
    height: 16rem;
  }

  .saradnici {
    padding-top: 1rem;
  }

  .saradnici p {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-top: 3px;
    font-size: 18px;
  }

  .images {
    padding-top: 10rem;
    width: 100%;
    padding-bottom: 0;
  }

  .client_article {
    margin-bottom: -7rem;
  }

  .homeImg {
    width: 250px;
    margin-right: 3.8rem;
  }

  .swiper {
    width: 22rem;
    padding-top: 1rem;
  }

  /* .header__socials,
  .scroll__down {
    display: none;
  } */
}
