.saradnici {
  padding-top: 2rem;
  background-color: #333;
  color: lightgray;
}

.saradnici p {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 25px;
  padding-left: 100px;
}

.homeImg {
  width: 400px;
  float: left;
  border-radius: 10px;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2.5rem;
  background-color: #aaa;
  align-items: baseline;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 7rem;
}

.clients {
  padding: 1rem;
  border-radius: 2rem;
  margin-left: 0.5rem;
  width: fit-content;
}

.clients:hover {
  border-color: transparent;
  background: transparent;
}

.client_article {
  border-radius: 1rem;
  overflow: hidden;
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) =================== */
@media screen and (max-width: 1400px) {
  .images {
    gap: 0.5rem;
    padding-left: 2.5rem;
  }

  .homeImg {
    width: 350px;
  }
}

@media screen and (max-width: 960px) {
  .homeImg {
    width: 340px;
  }

  .title {
    padding: 2rem;
  }

  .images {
    grid-template-columns: repeat(2, auto);
    padding-left: 0.5rem;
  }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) =================== */
@media screen and (max-width: 600px) {
  .title {
    padding: 4rem;
    height: 16rem;
  }

  .saradnici {
    padding-top: 1rem;
  }

  .saradnici p {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-top: 3px;
    font-size: 18px;
  }

  .homeImg {
    width: 295px;
  }

  .clients {
    padding: 0;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 1rem;
    padding-left: 2.2rem;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
