.navbar {
  background-color: #1f5156;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 100%;
}

.titleLogo {
  height: auto;
  width: 9.5rem;
  margin-left: 5rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-dropdown {
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-size: 19px;
  border: none;
  outline: none;
  cursor: pointer;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  /* content: ""; */
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-links:hover {
  background-color: rgb(114, 118, 119);
}

.nav-item .active:hover {
  background-color: rgb(114, 118, 119);
  border-radius: 4px;
}

.nav-item .active {
  color: white;
  background: rgb(80, 83, 83);
  border-radius: 4px;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-item:after {
    height: 0;
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    width: 100%;
    display: block;
  }

  .nav-links {
    padding: 1.5rem;
    width: 102%;
    display: table;
  }

  .nav-dropdown {
    padding: 1.5rem;
    width: 102%;
    display: table;
  }

  .titleLogo {
    height: auto;
    width: 7.5rem;
    margin-left: 3rem;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-200%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }

  .fa-caret-down {
    display: inline;
  }
}

@media screen and (max-width: 600px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-item {
    font-size: 17px;
  }

  .nav-links {
    padding: 1.5rem;
    width: 104%;
    display: table;
  }

  .nav-dropdown {
    padding: 1.5rem;
    width: 104%;
    display: table;
  }

  .titleLogo {
    height: auto;
    width: 6.5rem;
  }

  .nav-logo {
    margin-top: 1rem;
    margin-left: -1rem;
  }

  .nav-icon {
    transform: translate(-150%, 85%);
  }
}
