.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  margin-top: 12rem;
}

.blogContent {
  color: lightgray;
  padding: 1.3rem;
  border: 1px solid transparent;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  text-align: justify;
}

.blogTitle {
  color: aliceblue;
  padding: 1rem;
  text-align: center;
}

.titleBlog {
  text-align: center;
  color: lightgrey;
  margin: 9rem;
  width: auto;
}

.blogImages {
  border-radius: 1.5rem;
  overflow: hidden;
  margin-left: 4rem;
  margin-bottom: 1rem;
  width: 50rem;
}

@media screen and (max-width: 1400px) {
  .blogImages {
    border-radius: 1.5rem;
    overflow: hidden;
    margin-left: 3rem;
    margin-bottom: 1rem;
    width: 35rem;
  }
}

@media screen and (max-width: 960px) {
  .blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }

  .titleBlog {
    margin: 3rem;
  }

  .blogImages {
    margin-left: 13rem;
    width: 25rem;
  }

  .blogTitle {
    font-size: 2rem;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }

  .titleBlog {
    margin: 3rem;
  }

  .blogImages {
    border-radius: 1.5rem;
    overflow: hidden;
    margin-left: 2.3rem;
    margin-bottom: 1rem;
    width: 19rem;
  }

  .blogTitle {
    font-size: 1.5rem;
    padding: 0;
  }
}
